<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phonebook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/lib/fontawesome-all.min.js"></script>
</head>
<body>

<div id="container" data-state="" data-pagination_url="">
    <h1>Phonebook <div class="plus"><i class="fas fa-plus"></i></div></h1>
    <input id="searchInput" type="text" placeholder="Search..." data-url="/search">
    <ul class="list">
    </ul>
    <div class="pagination">
    </div>
</div>

<!-- create/edit form -->
<div class="popup" id="form">
    <p class="popup-title"></p>
    <input type="hidden" id="form-url" name="form_url" value="">
    <input type="text" id="name-input" name="name" placeholder="Contact name">
    <input type="text" id="phone-input" name="phone" placeholder="Contact phone">
    <button class="popup-button"></button>
</div>
<div class="popup" id="notice"></div>
<div id="popup-layout"></div>

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>