<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phonebook</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/lib/fontawesome-all.min.js"></script>
</head>
<body>

<div id="container">
    <h1>Phonebook <div class="plus"><i class="fas fa-plus"></i></div></h1>
    <input id="searchInput" type="text" placeholder="Search...">

    <ul>
        <li>
            <span class="delete-btn"><i class="far fa-trash-alt"></i>
            </span><span class="name">Steve</span>
            <span class="number">+7 (999) 999-99-99</span>
        </li>
        <li>
            <span class="delete-btn"><i class="far fa-trash-alt"></i>
            </span><span class="name">John</span>
            <span class="number">+7 (999) 999-99-99</span>
        </li>
        <li>
            <span class="delete-btn"><i class="far fa-trash-alt"></i>
            </span><span class="name">David</span>
            <span class="number">+7 (999) 999-99-99</span>
        </li>
    </ul>
</div>>

<!-- create/edit form -->
<div class="popup centered">
    <form action="" method="">
    </form>
</div>

<script src="/js/app.js"></script>
</body>
</html>